p {
  font-size: 18px;
}

.service-label {
  text-align: center;
}

.lead {
  font-size: 26px;
}

#head .tagline {
  margin: 25px 0 0;

  a {
    color: #973de5;
    font-weight: bold;
  }
}

.last-row {
  margin-bottom: 25px;
}
